/* la fuente que uso para todo y el fondo general */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

/* mi header/encabezado con logo */
.header {
  margin: 0;
  background-image: url("imagenes/guitarra-landing.jpg");
  background-size: cover;
  background-position: center;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
/* mi loop studio logo */

.logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-left: 42%;
}
/* mi LS*/
.icono {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-right: 8px;
}

/* el contendor del formulario */
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15cm;
}

/* la caja y color del formulario */
.formulario {
  background-color: #d3d3d3;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}


/* los campos internos del formulario */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
}

/* el "boton" */
button {
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
}

/* aclaro boton cuando paso el mouse */
button:hover {
  background-color: #333;
}

/* el texto del registro */
.registro {
  margin-top: 15px;
  font-size: 13px;
}

.registro a {
  color: black;
  text-decoration: underline;
}